{% extends 'templates/base.html' %}
{% block title %}
About Us
{% endblock %}
{% block about %}
active
{% endblock %}
{% block content %}
<section class="bg-color silver">
	<div class="container">
		<h1>Contact us!</h1>
		<h2>Email me at <a href="mailto:sam@rightcall.co">sam@rightcall.co</a>.</h2>
		<br />
		<h3><address>
			Sam Gavis-Hughson<br /><br />
			252 Nassau Street, 2nd Floor<br /><br />
			Princeton, NJ 08540<br /><br />
			609.751.4814
		</address></h3>
		<h3>Questions, comments, business partnerships, party invitations, etc.</h3>
	</div>
</section>
<section id='testimonial' class="testimonial bg-color blue">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="hero-unit aligncenter">
					<h1 class="normal">Our Team</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div id="testimonial-slider" class="carousel slide testimonial testimonial-list2">
					<ul class="carousel-indicators aligncenter row-fluid">
						<li data-target="#testimonial-slider" data-slide-to="0" class="active span3">
							<div class="thumbnail"><img src="/img/thumbnail.jpg"></div>
							<div class="desc">
								<h5 class="name">Sam Gavis-Hughson</h5>
								<p class="title">CEO, Founder, everything else</p>
							</div>
							<div class="triangle dark-grey"></div>
						</li>
						<!--<li data-target="#testimonial-slider" data-slide-to="1" class="span3">
							<div class="thumbnail"><img src="http://dribbble.s3.amazonaws.com/users/56098/avatars/original/393847_2683298493239_1579654026_2361191_1422997516_n.jpeg?1330088797"></div>
							<div class="desc">
								<h5 class="name">Syazwan Zahari</h5>
								<p class="title">Lead UI Champion</p>
							</div>
							<div class="triangle yellow"></div>
						</li>
						<li data-target="#testimonial-slider" data-slide-to="2" class="span3">
							<div class="thumbnail"><img src="http://dribbble.s3.amazonaws.com/users/110829/avatars/small/4411226_300.jpg?1354939599"></div>
							<div class="desc">
								<h5 class="name">Ajmal Afif</h5>
								<p class="title">Senior UX Ninja</p>
							</div>
							<div class="triangle blue"></div>
						</li>
						<li data-target="#testimonial-slider" data-slide-to="3" class="span3">
							<div class="thumbnail"><img src="http://dribbble.s3.amazonaws.com/users/16168/avatars/original/heh.jpg?1305136272"></div>
							<div class="desc">
								<h5 class="name">Syahmi Ismail</h5>
								<p class="title">Black Belt Designer</p>
							</div>
							<div class="triangle orange"></div>
						</li>-->
					</ul>
					<div class="carousel-inner clearfix">
						<div class="active item clearfix">
							<div class="row-fluid clearfix">
								<div class="span12">
									<blockquote class="big bg-color dark-grey">Hi, I'm Sam. I'm basically in charge of the entire operation here at RightCall. I am currently an undergrad at Princeton University in Computer Science. I'm interested in entrepreneurship and am working on RightCall right now as an exciting opportunity to change the way people shop online.  I hope you get use out of RightCall because it is my baby and I have devoted huge amounts of effort to make everyone's life a little easier.</blockquote>
								</div>
							</div>
						</div>
						<!--<div class="item">
							<div class="row-fluid clearfix">
								<div class="span12">
									<blockquote class="bg-color yellow">Flannel actually selfies nostrud squid american apparel. Pop-up sapiente mcsweeney's ethical. Ea banjo terry richardson raw denim, DIY four loko hashtag culpa sriracha authentic. Incididunt high life gentrify, polaroid nesciunt nihil est nostrud. Banjo banksy vero seitan ethnic small batch, squid 3 wolf moon keffiyeh. Butcher sed id thundercats. Seitan reprehenderit veniam raw denim.</blockquote>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row-fluid clearfix">
								<div class="span12">
									<blockquote class="bg-color blue">Tempor meh helvetica, trust fund typewriter before they sold out cillum art party hoodie squid letterpress incididunt proident nisi quinoa. Bicycle rights street art stumptown, next level retro locavore mcsweeney's small batch aliqua sustainable 90's aute readymade assumenda.</blockquote>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row-fluid clearfix">
								<div class="span12">
									<blockquote class="bg-color orange">Flannel actually selfies nostrud squid american apparel. Pop-up sapiente mcsweeney's ethical. Ea banjo terry richardson raw denim, DIY four loko hashtag culpa sriracha authentic. Incididunt high life gentrify, polaroid nesciunt nihil est nostrud. Banjo banksy vero seitan ethnic small batch, squid 3 wolf moon keffiyeh. Butcher sed id thundercats. Seitan reprehenderit veniam raw denim.</blockquote>
								</div>
							</div>
						</div>-->
					</div>
					<a class="carousel-control left" href="#testimonial-slider" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#testimonial-slider" data-slide="next">&rsaquo;</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}