{% extends 'templates/base.html' %}
{% block title %}
Features
{% endblock %}
{% block features %}
active
{% endblock %}
{% block content %}
<!--<section class="container wrapper">
	<h1>Coming soon!</h1>
	<h2>Email me at <a href="mailto:sam@rightcall.co">sam@rightcall.co</a></h1>
</section>-->
<!--<section>
	<div class="container clearfix">
		<div class="row">
			<div class="hero-unit aligncenter">
				<h2 class="normal">The Easiest Way to Find a Cellphone Plan</h2>
				<p class="lead">Our personalized plan finding tool means that you can find exactly the plan that you need without the extensive legwork.</p>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h3 class="normal">Manage your day-to-day</h3>
				<ul class="features features-list1 clearfix unstyled">
					<li>
						<div class="content">
							<h3>Incredible pricing</h3>
							<p>Minim deep v mixtape nisi sint excepteur. Direct trade pickled occupy sustainable id mcsweeney's. Terry richardson pug dreamcatcher, flexitarian nulla chambray bicycle rights. </p>
						</div>
					</li>
					<li>
						<div class="content">
							<h3>Instant, free sign up</h3>
							<p>Esse nesciunt cupidatat, typewriter tattooed bushwick labore mixtape tumblr ethnic. Banjo organic wayfarers cray, beard enim ea sriracha terry richardson pariatur placeat readymade fap tofu.</p>
						</div>
					</li>
					<li>
						<div class="content">
							<h3>Safe & secure</h3>
							<p>American apparel gentrify adipisicing, cray mumblecore whatever nulla qui hella church-key vinyl. Mustache YOLO tempor, food truck stumptown biodiesel enim elit intelligentsia.</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="span8">
				<div id="carousel1" class="carousel slide custom">
					<ul class="carousel-indicators center">
						<li data-target="#carousel1" data-slide-to="0" class="active"></li>
						<li data-target="#carousel1" data-slide-to="1"></li>
						<li data-target="#carousel1" data-slide-to="2"></li>
					</ul>
					<div class="carousel-inner">
						<div class="active item aligncenter">
							<img src="img/styler/dummy/day-gallery1.png">
						</div>
						<div class="item aligncenter">
							<img src="img/styler/dummy/day-gallery1.png">
						</div>
						<div class="item aligncenter">
							<img src="img/styler/dummy/day-gallery1.png">
						</div>
					</div>
					<a class="carousel-control left" href="#carousel1" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#carousel1" data-slide="next">&rsaquo;</a>
				</div>
			</div>
		</div>
		<div class="separator"></div>
	-->
<section>
	<div class="container clearfix">
		<div class="row">
			<div class="span12">
				<div class="hero-unit no-margin-bottom">
					<h2 class="normal">The Easiest Way to Find a Cellphone Plan</h2>
					<p class="lead">Our personalized plan finding tool means that you can find exactly the plan that you need without any of the hard work.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="tabbable features tabs-left row-fluid">
					<ul class="nav nav-tabs span3 uppercase">
						<li class="active"><a href="#l1" data-toggle="tab">Overview</a></li>
						<li><a href="#l2" data-toggle="tab">What you get</a></li>
						<li><a href="#l3" data-toggle="tab">Our Process</a></li>
						<li><a href="#l4" data-toggle="tab">Where You Save</a></li>
						<li><a href="#l5" data-toggle="tab">Your Protection</a></li>
						<li><a href="#l6" data-toggle="tab">Can you help me?</a></li>
						<li><a href="#l7" data-toggle="tab">Payment</a></li>
					</ul>
      				<div class="tab-content">
		                <div class="tab-pane active" id="l1">
		                	<h3 class="no-margin-top">Overview</h3>
							<p class="medium">If you've ever purchased a new cell phone plan, you probably saw that there are a lot of different options. Carriers are always changing the options they offer and complicating the process of finding the plan that best fits your needs. What's worse, the plan that is best for you may be completely different from that which is best from your friends or online reviewers, making any reviews of carriers completely useless.</p>
							<p class="medium">Here at RightCall, we recognize that cell phone plans are personal, but that finding them is complicated. Our goal is to simplify this process. We're removing all of the excess information that carriers throw at you and providing you with simple recommendations of exactly what you should do to maximize the bang for your buck.</p>
							<p class="medium">Of course, we won't stop you from doing your own research, but we've already done the research, so we have the information and your time is much too important to be spent trudging through mountains of data about your cell phone usage and plan options from different carriers. So why not let us do it. We also have the experience and technology so that we can find your results quickly.</p>
		                	
		                  	<!--<ul class="features features-list1 clearfix unstyled">
		                  		<div class="row-fluid">
									<li class="span6">
										<div class="icons small icons-colored rounded-rectangle bg-color aligncenter pull-left">
											<i class="icon-bar-chart"></i>
										</div>
										<div class="content">
											<h3>Live Information In One Place</h3>
											<p>No more duplicate information stored in various programs, in different places, on different computers.</p>
										</div>
									</li>
									<li class="span6">
										<div class="icons small icons-colored rounded-rectangle bg-color aligncenter pull-left">
											<i class="icon-gift"></i>
										</div>
										<div class="content">
											<h3>Eliminate Costly Errors</h3>
											<p>Every time an employee enters information there is the potential for error. When an employee enters duplicate information.</p>
										</div>
									</li>
								</div>
								<div class="row-fluid">
									<li class="span6">
										<div class="icons small icons-colored rounded-rectangle bg-color aligncenter pull-left">
											<i class="icon-trophy"></i>
										</div>
										<div class="content">
											<h3>Secure Access From Anywhere</h3>
											<p>At the base, in the hotel or at a remote location, our service is provided via a secure Internet connection so you have secure.</p>
										</div>
									</li>
									<li class="span6">
										<div class="icons small icons-colored rounded-rectangle bg-color aligncenter pull-left">
											<i class="icon-github"></i>
										</div>
										<div class="content">
											<h3>Save Significant Money</h3>
											<p>A large number of employees are dedicated to data entry and paper processing. Managers waste valuable time dealing with paperwork.</p>
										</div>
									</li>
								</div>
							</ul>-->
							
		                </div>
		                <div class="tab-pane" id="l2">
						  	<h3>What You Get</h3>
							<p class="medium">After you submit your information for analysis, you will receive an email within 24 hours with a link to the details of your analysis.</p>
							<p class="medium">You will be able to see exactly your potential savings at which point you can decide whether or not you would like to pay to receive your analysis. Most customers will find that their savings vastly outweigh the small cost that we charge for the analysis. If you are the exception and we were unable to find you significant savings, you are under no obligation to pay us anything.</p>
							<p class="medium">Once you submit your payment you will be able to see the best plan options for you from AT&T, Sprint, T-Mobile, and Verizon. These recommendations should help you to find what new plan you would like to purchase.</p>
							<p class="medium">At this point, you have the option for 30 days to update your information if your phone usage changes dramatically. We can also offer a full refund if you are not absolutely satisfied, no questions asked.</p>
						</div>
						<div class="tab-pane" id="l3">
						  	<h3>Our Process</h3>
							<p class="medium">Our process starts when you submit your information. We start by collecting and consolidating all of the information that we can use to predict your future usage. Once we have this, we look through our database of current plans. Based on many data points, we compare these plans to see which ones fit best with your usage. We then look at prices to provide you with the most economical options without limiting your phone use.</p>
						</div>
		                <div class="tab-pane" id="l4">
		                  	<h3>Where You Save</h3>
							<p class="medium">There are many things that cell phone companies do to rope you into paying more than necessary. While there are many little things that you can do to save a few dollars on your plan, we focus on the big picture: talk, text, and data. It is in our nature to want to avoid overage charges, but sometimes the occasional overage charge is cheaper than a consistently higher price. By using math, we are able to look at this without any personal bias.</p>
							<p class="medium"><strong>Talk.</strong> Many companies offer several different quantities of minutes, but these only apply at certain times and sometimes they have different limits depending on whether you call during the day or at night. We can analyze all of these different factors to make sure that you are not spending more than you should.</p>
							<p class="medium"><strong>Text.</strong> For texts, you often have the option of whether you want to pay as you go or buy texts up front and we do the math in our calculations to figure out which option is more apropriate to your usage.</p>
							<p class="medium"><strong>Data.</strong> This is the place that most people overspend. It is hard to estimate how much data you use and it depends on many factors like whether or not you are using wifi or not. We look at the hard data which helps us to make the most informed possible decision.</p>
		                </div>
		                <div class="tab-pane" id="l5">
		                  	<h3>Your Protection</h3>
							<p class="medium">We understand that you are entrusting us with your personal information. We are an independent company and will never provide your information to anyone. We use it for the sole purpose of helping you to find your ideal cell phone plan.</p>
							<p class="medium">Whenever we collect sensitive information such as passwords or wireless bills, we use the service <a href="http://www.jotform.com">JotForm</a> to upload and store your information securely. We never keep information except to provide you with services in the future.</p>
		                </div>
		                <div class="tab-pane" id="l6">
		                  	<h3>Can You Help Me?</h3>
							<p class="large">The short answer: <strong>Yes!</strong></p>
							<p class="medium">80% of Americans overpay on their cell phone bills. Since its free to find your savings, you might as well give RightCall a shot, because you have absolutely nothing to lose and you stand a lot to gain. If we still haven't conviced you, <a href="/about">send us an email or give us a call</a> and lets see what we can do 
							<p class="medium">Currently, we are working exclusively with American customers who are looking to buy a smartphone on one of the four major wireless networks in the USA: AT&T, Sprint, T-Mobile, and Verizon. If you fall into this category, we would love to help. Head over to the <a href="/tryitnow">Try It Now</a> to get started. If not, we're sorry we can't help you yet, but we'd love to hear from you and we may still be able to help.  You can email us at <a href="mailto:sam@rightcall.co">sam@rightcall.co</a>.</p>
		                </div>
		                <div class="tab-pane" id="l7">
		                  	<h3>Payment</h3>
							<p class="medium">We currently accept payments through <a href="http://www.paypal.com">PayPal</a> only. We hope that you will find that this makes payments quick and easy.</p>
		                </div>
        			</div>
    			</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}