<form class="form-horizontal" action="/insertuser" method="post">
	<div class="control-group">
		<div class="controls">
			<input type="text" id="firstName" name="firstname" placeholder="First Name">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type="text" id="lastName" name="lastname" placeholder="Last Name">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type="text" id="inputEmail" name="email" placeholder="Email">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type="password" id="inputPassword" name="password" placeholder="Password">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Sign in</button>
		</div>
	</div>
</form>