{% extends 'templates/base.html' %}
{% block title %}
Pricing
{% endblock %}
{% block pricing %}
active
{% endblock %}
{% block content %}
<!--<section class="container wrapper">
	<h1>Coming soon!</h1>
	<h2>Email me at <a href="mailto:sam@rightcall.co">sam@rightcall.co</a></h1>
</section>-->
<section id="pricing" class="pricing bg-color grey">
	<div class="container">
		<div class="row">
			<div class="hero-unit aligncenter">
				<h1>We have options to suit every need and budget</h1>
				<p class="lead">Take a look and see which plan is best for you.</p>
				<p class="lead">You will be able to see exactly how much you can save before you spend a penny.</p>
			</div>
		</div>
		<div class="row">
			<ul class="pricing-list pricing1 unstyled clearfix">
				<li class="span4 aligncenter">
					<div class="pricing-title">
						<h3 class="light">Basic</h3>
					</div>
					<div class="pricing-price">
						<div class="pricing-price-container bg-color dark-grey">
							$10
						</div>
					</div>
					<ul class="pricing-features unstyled">
						<li><b>Best</b> Result</li>
						<li><b>2 Days</b> for Revisions</li>
						<li><b>Unlimited</b> Customer Service</li>
					</ul>
					<div class="pricing-action">
						<a class="btn btn-flat btn-small btn-blue uppercase" href="/tryitnow">Try it Now!</a>
					</div>
				</li>
				<li class="span4 aligncenter focus">
					<div class="pricing-title">
						<h3 class="light">Premium</h3>
					</div>
					<div class="pricing-price">
						<div class="pricing-price-container bg-color yellow">
							$20
						</div>
					</div>
					<ul class="pricing-features unstyled">
						<li><b>Best Result</b> for each Carrier</li>
						<li><b>30 Days</b> for Revisions</li>
						<li><b>Unlimited</b> Customer Service</li>
					</ul>
					<div class="pricing-action">
						<a class="btn btn-flat btn-small btn-orange uppercase" href="/tryitnow">Try it Now!</a>
					</div>
				</li>
				<li class="span4 aligncenter">
					<div class="pricing-title">
						<h3 class="light">Deluxe</h3>
					</div>
					<div class="pricing-price">
						<div class="pricing-price-container bg-color dark-grey">
							$30
						</div>
					</div>
					<ul class="pricing-features unstyled">
						<li><b>Top 3 Results</b> for each Carrier</li>
						<li><b>1 Year</b> for Revisions</li>
						<li><b>Unlimited</b> Customer Service</li>
					</ul>
					<div class="pricing-action">
						<a class="btn btn-flat btn-small btn-blue uppercase" href="/tryitnow">Try it Now!</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<section class="bg-color white" id="pricing-details">
	<div class="container">
		<h2 class="aligncenter">Details</h2>
		<div class="row">
			<div class="span8 offset 2">
			</div>
		</div>
		<div class="row">
			<ul class="features features-list2 unstyled aligncenter clearfix">
				<li class="span4">
					<div class="icons icons-colored round green">
						<i class="icon-coffee"></i>
					</div>
					<div class="content">
						<h3 class="normal uppercase">Results</h3>
						<ul class="alignleft">
							<li><p><b>Basic:</b> You will receive the best result for you across all major carriers, although you will be able to limit the carriers considered in your results.</p></li>
							<li><p><b>Premium:</b> You will be able to see your best result for each carrier, allowing you to make a more informed decision.</p></li>
							<li><p><b>Deluxe:</b> By seeing the top two results from each carrier the decision is truly in your hands, giving you maximal control over your cellphone plan.</p></li>
						</ul>
					</div>
				</li>
				<li class="span4">
					<div class="icons icons-colored round blue">
						<i class="icon-cogs"></i>
					</div>
					<div class="content">
						<h3 class="normal uppercase">Revisions</h3>
						<p>Revisions allow you to update your results when things change. If you realize that you entered your information wrong, could've been more precise, or just changed your habits, this will allow you to update your results as many times as you like within the selected timeframe.</p>
					</div>
				</li>
				<li class="span4">
					<div class="icons icons-colored round red">
						<i class="icon-trophy"></i>
					</div>
					<div class="content">
						<h3 class="normal uppercase">Customer Service</h3>
						<p>You will always have access to our first class customer service. Whenever you have any issues or questions, we offer live customer support and can cater to most personal issues that you might experience.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}