{% set a = true %}
{% extends 'templates/base.html' %}
{% block title %}
Survey
{% endblock %}
{% block content %}
<section>
	<div class="container wrapper aligncenter">
		<h1 class="aligncenter">Let us connect to your account.</h1>
		<p>This will allow us to most accurately examine your data and saves you time. We use <a href="http://www.jotform.com">JotForm</a> to securely upload and store your data and will never share it with anyone.</p>
	    <script type="text/javascript" src="https://secure.jotform.co/jsform/31826054772860"></script>
	</div>
</section>
{% endblock %}