{% set a = true %}
{% extends 'templates/base.html' %}
{% block title %}
Survey
{% endblock %}
{% block content %}
<section>
	<div class="container wrapper">
		<form method="post" action="/survey1response" class="aligncenter">
		   	{% include '/templates/survey-questions/same-carrier.html' %}
		    {% include '/templates/survey-questions/bad-carrier.html' %}
		    {% include '/templates/survey-questions/preferred-device.html' %}
		    {% include '/templates/survey-questions/zipcode.html' %}
		    {% include '/templates/survey-questions/travel.html' %}
		    {% include '/templates/survey-questions/comments.html' %}
			{% include '/templates/survey-questions/personal-info.html' %}
		    <hr>
		    <div id="nav-buttons">
				<button id="back-button" class="btn btn-large hide" type="button">&laquo; Back</button>
				<button id="next-button" class="btn btn-large hide" type="button">Next &raquo;</button>
			</div>
	    </form>
	</div>
</section>
{% endblock %}