{% set a = true %}
{% extends 'templates/base.html' %}
{% block title %}
Survey
{% endblock %}
{% block content %}
<section>
	<div class="container wrapper aligncenter">
		<h1 class="aligncenter">Upload your last few bills.</h1>
		<p>Please upload pdf files of your 3 most recent wireless bills.  It is recommended that you include more to get more accurate suggestions.</p>
	    <script type="text/javascript" src="http://form.jotform.us/jsform/31764775023153"></script>
	</div>
</section>
{% endblock %}