{% set a = true %}
{% extends 'templates/base.html' %}
{% block title %}
Survey
{% endblock %}
{% block content %}
<section>
	<div class="container wrapper">
		<h1 class="aligncenter">Coming soon!</h1>
		<form method="post" action="/response">
		    <fieldset>
			    <legend>Sorry, we're currently in an invite-only beta test.</legend>
			    <div class="span6">
				    <label>If you're as excited as we are and want to sign up for early access, you can request an invitation below.</label>
				    <input name="email" type="text" placeholder="Email address...">
				    <span class="help-block">If you give us your email, we'd like to keep you up to date and let you know as soon as we have a spot for you. And we promise we'll put it in a safe place!</span>
				    <label class="checkbox">
				    <input name="feedback" type="checkbox"><label>I don't want to help shape the future of RightCall with my feedback :(</label>
				    <input type="submit" class="btn" value="Sign Up!">
				</div>
		    </fieldset>
	    </form>
	</div>
</section>
{% endblock %}