{% set a = True %}
{% extends 'templates/base.html' %}
{% block title %}
Survey
{% endblock %}
{% block content %}
<section class="container wrapper">
	<div class="aligncenter">
		<h1>How would you like to provide information?</h1>
		<p>Uploading bills will provide more accurate results and you won't have to figure out your current usage.  We promise that we won't share any of your information. However, if you prefer you're welcome to enter your information by hand.</p>
		<a class="btn btn-flat btn-blue btn-large" href="/survey3">Connect to wireless account</a>
		<a class="btn btn-flat btn-bg-darker btn-large" href="/survey1upload">Upload wireless bills</a>
		<a class="btn btn-flat btn-bg-darker btn-large" href="survey2">Enter info manually</a>
	</div>
</section>
{% endblock %}