{% extends 'templates/base.html' %}
{% block title %}
Thank You!
{% endblock %}
{% block content %}
<section class="container wrapper">
	<h1>Thanks for signing up!</h1>
	<h2>Keep an eye out for an intro email.  In the meantime you can check us out on <a href="http://www.facebook.com/samrightcall">Facebook</a>, <a href="http://www.twitter.com/samrightcall">Twitter</a>, and <a href="http://rightcall.tumblr.com">Tumblr</a>.</h2>
	<h3>Email me at <a href="mailto:sam@rightcall.co">sam@rightcall.co</a> with any questions.</h3>
	<div class="aligncenter">
		<a class="btn btn-flat btn-blue btn-large" href="/">Go Home</a>
	</div>
</section>
<!-- Google Code for RequestInviteTop Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 984876435;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "88_ZCJ3IvgYQk4vQ1QM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/984876435/?value=0&amp;label=88_ZCJ3IvgYQk4vQ1QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{% endblock %}