{% extends 'templates/base.html' %}
{% block title %}
Try RightCall now!
{% endblock %}
{% block try %}
active
{% endblock %}
{% block content %}
<section class="cta bg-color blue">
	<div class="container">
		<div class="row">
			<div class="span10 offset1">
				<div class="hero-unit aligncenter">
					<h1>Try out RightCall for free!</h1>
					<p class="lead black">Just enter your usage info and if you are interested in your savings, pick a payment plan and get your results. Its that easy and completely risk free.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container featured">
	<div class="aligncenter">
		<h3>If you live in the USA and are looking for a new plan for your smartphone, look no further. It takes 10 seconds and you may save big!</h3>
		<a class="btn btn-large btn-bg-darker" href="/surveyintro">
			<h2>Take the survey</h2>
			<!--<div id="comingsoon-container">
				<img id="comingsoon" src="/img/comingsoon.png" />
			</div>-->
		</a>
	</div>
</section>
<section class="container featured">
	<div class="aligncenter">
		<h3>If you don't fall into that category, we're sorry, but we're not quite ready for you yet. We hope you're interested and will sign up so that we can help you as soon as we are able!</h3>
		<form method="post" action="/response">
		    <fieldset>
			    <div id="signup-container" class="span6">
			    	<div class="aligncenter">
					    <input name="name" type="text" placeholder="Name..."><br />
					    <input name="email" type="text" placeholder="Email address...">
					    <span class="help-block">If you give us your email, we'd like to keep you up to date and let you know as soon as we have a spot for you. And we promise we'll put it in a safe place!</span>
					    <label class="checkbox">
					    <input name="feedback" type="checkbox"><label>I don't want to help shape the future of RightCall with my feedback :(</label>
					    <input type="submit" class="btn" value="Sign Up!">
					</div>
				</div>
		    </fieldset>
	    </form>
	</div>
</section>
<!--<section>
	<div class="container wrapper">
		<h1 class="aligncenter">Coming soon!</h1>
		<form method="post" action="/response">
		    <fieldset>
			    <legend>Sorry, we're currently in an invite-only beta test.</legend>
			    <div class="span6">
				    <label>If you're as excited as we are and want to sign up for early access, you can request an invitation below.</label>
				    <input name="name" type="text" placeholder="Name..."><br />
				    <input name="email" type="text" placeholder="Email address...">
				    <span class="help-block">If you give us your email, we'd like to keep you up to date and let you know as soon as we have a spot for you. And we promise we'll put it in a safe place!</span>
				    <label class="checkbox">
				    <input name="feedback" type="checkbox"><label>I don't want to help shape the future of RightCall with my feedback :(</label>
				    <input type="submit" class="btn" value="Sign Up!">
				</div>
		    </fieldset>
	    </form>
	</div>
</section>-->
{% endblock %}