<fieldset id="bad-carrier">
	<h1 class="aligncenter">Are there any carriers with whom you won't buy a plan?</h1>
	<div>
		<hr>
	    <label><em>Note:</em> You may find greater savings by changing carriers?</label>
	    <label class="checkbox inline">
			<input type="checkbox" name="badCarrier" id="badCarrier1" value="att">
			<img src="/img/att-small.png" />
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="badCarrier" id="badCarrier2" value="sprint">
			<img src="/img/sprint-small.png" />
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="badCarrier" id="badCarrier3" value="tmobile">
			<img src="/img/tmobile-small.png" />
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="badCarrier" id="badCarrier4" value="verizon">
			<img src="/img/verizon-small.png" />
		</label>
		<br />
		<label class="checkbox inline">
			<input type="checkbox" name="badCarrier" id="badCarrier5" value="metropcs">
			<img src="/img/metropcs-small.png" />
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="badCarrier" id="badCarrier6" value="cricket">
			<img src="/img/cricket-small.png" />
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="badCarrier" id="badCarrier7" value="uscellular">
			<img src="/img/uscellular-small.png" />
		</label>
	</div>
</fieldset>