<fieldset id="current-carrier">
	<h1 class="aligncenter">Who is your current carrier?</h1>
    <div>
		<hr>
	    <label class="radio inline">
			<input type="radio" name="currentCarrierRadio" id="currentCarrierRadio1" value="att" checked>
			<img src="/img/att-small.png" />
		</label>
		<label class="radio inline">
			<input type="radio" name="currentCarrierRadio" id="currentCarrierRadio2" value="sprint">
			<img src="/img/sprint-small.png" />
		</label>
		<label class="radio inline">
			<input type="radio" name="currentCarrierRadio" id="currentCarrierRadio3" value="tmobile">
			<img src="/img/tmobile-small.png" />
		</label>
		<label class="radio inline">
			<input type="radio" name="currentCarrierRadio" id="currentCarrierRadio4" value="verizon">
			<img src="/img/verizon-small.png" />
		</label>
		<br />
		<label class="radio inline">
			<input type="radio" name="currentCarrierRadio" id="currentCarrierRadio5" value="metropcs">
			<img src="/img/metropcs-small.png" />
		</label>
		<label class="radio inline">
			<input type="radio" name="currentCarrierRadio" id="currentCarrierRadio6" value="cricket">
			<img src="/img/cricket-small.png" />
		</label>
		<label class="radio inline">
			<input type="radio" name="currentCarrierRadio" id="currentCarrierRadio7" value="uscellular">
			<img src="/img/uscellular-small.png" />
		</label>
		<label class="radio inline">
			<input type="radio" name="currentCarrierRadio" id="currentCarrierRadio5" value="other">
			<h2>Other</h2>
		</label>
	</div>
</fieldset>