<fieldset id="current-amount">
	<h1 class="aligncenter">How much do you currently pay for your plan?</h1>
	<div class="center">
		<hr>
		<div class="slider-container control-group">
			<p>
				<label for="amount">Expenses per month:</label>
				<div class="input-prepend input-append">
				    <span class="add-on">$</span>
				    <input name="currentAmount" class="span2" id="currentAmount" type="text" style="font-weight:bold;" />
				    <span class="add-on">/mo</span>
			    </div>
			    <span class="help-inline">Please enter a valid number.</span>
			</p>
			<div id="currentAmountSlider" class="span8 center"></div>
		</div>
		<div class="slider-description">
			<p>Type in value or use slider.</p>
		</div>
	</div>
</fieldset>