<fieldset id="personal-info">
	<h1 class="aligncenter">Personal Information</h1>
	<div>
		<hr>
    	<div id="personalInfo" class="center span8">
	    	<label>Name</label><input name="name" class="span3 inline" id="nameField" type="text"style="font-weight:bold;" placeholder="Name"/>
	    	<div class="control-group">
		    	<label>Email</label><input name="email" class="span3 inline" id="emailField" type="text"style="font-weight:bold;" placeholder="Email"/><span class="help-inline">Please enter a valid email address.</span>
		    </div>
	    </div>
	</div>
</fieldset>