<fieldset id="preferred-device">
	<h1 class="aligncenter">Do you have a preferred device?</h1>
	<div>
		<hr>
	    <label class="checkbox inline">
			<input type="checkbox" name="preferredDevice" id="preferredDevice1" value="android">
			Android
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="preferredDevice" id="preferredDevice2" value="ios">
			iOS
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="preferredDevice" id="preferredDevice3" value="windows">
			Windows Phone
		</label>
		<div id="deviceName" class="center span8">
			<label>Please enter any specific devices that you have in mind.</label>
	    	<textarea name="deviceName" class="span4 inline" id="device"rows="3" cols="200" style="font-weight:bold;" placeholder="Specifics..."/></textarea>
	    </div>
	</div>
</fieldset>