<fieldset id="same-carrier">
	<h1 class="aligncenter">Is it important to you to stay with the same carrier?</h1>
    <div>
    	<hr>
    	<label><em>Note:</em> You may find greater savings by changing carriers.</label>
	    <label class="radio inline">
			<input type="radio" name="sameCarrier" id="sameCarrier1" value="yes" >
			Yes
		</label>
		<label class="radio inline">
			<input type="radio" name="sameCarrier" id="sameCarrier2" value="no" checked>
			No
		</label>
		<label class="radio inline">
			<input type="radio" name="sameCarrier" id="sameCarrier3" value="no">
			I don't care
		</label>
	</div>
</fieldset>