<fieldset id="travel">
	<h1 class="aligncenter">Do you travel often (two or more times per year)?</h1>
    <div>
    	<hr>
    	<label>Consider traveling to be trips that take you more than 50 miles from home.</label>
	    <label class="radio inline">
			<input type="radio" name="travel" id="travel1" value="yes">
			Yes
		</label>
		<label class="radio inline">
			<input type="radio" name="travel" id="travel2" value="no" checked>
			No
		</label>
		<div id="travel-zip">
			<h2>Please include the zipcodes of the places you travel most frequently.</h2>
			<div id="travelZip1" class="control-group">
				<label>Location 1: <input name="travelZipcode" class="span2" id="travelZipcode1" type="text" style="font-weight:bold;" placeholder="Zipcode"/></label><span class="help-inline">Please enter a valid zipcode</span>
			</div>
			<div id="travelZip2" class="control-group">
				<label>Location 2: <input name="travelZipcode" class="span2" id="travelZipcode2" type="text" style="font-weight:bold;" /></label><span class="help-inline">Please enter a valid zipcode</span>
			</div>
			<div id="travelZip3" class="control-group">
				<label>Location 3: <input name="travelZipcode" class="span2" id="travelZipcode3" type="text" style="font-weight:bold;" /></label><span class="help-inline">Please enter a valid zipcode</span>
			</div>
			<div id="travelZip4" class="control-group">
				<label>Location 4: <input name="travelZipcode" class="span2" id="travelZipcode4" type="text" style="font-weight:bold;" /></label><span class="help-inline">Please enter a valid zipcode</span>
			</div>
			<div id="travelZip5" class="control-group">
				<label>Location 5: <input name="travelZipcode" class="span2" id="travelZipcode5" type="text" style="font-weight:bold;" /></label><span class="help-inline">Please enter a valid zipcode</span>
			</div>
		</div>
	</div>
</fieldset>