<fieldset id="amount-minutes">
	<h1 class="aligncenter">How many minutes do you use per month?</h1>
	<div class="center">
		<hr>
		<div class="slider-container control-group">
			<p>
				<label for="amountMinutes">Minutes per month:</label>
				<div class="input-append">
				    <input name="amountMinutes" class="span2" id="amountMinutes" type="text" style="font-weight:bold;" />
				    <span class="add-on">/mo</span>
			    </div>
			    <span class="help-inline">Please enter a valid number.</span>
			</p>
			<div id="amountMinutesSlider" class="center span8"></div>
		</div>
		<div class="slider-description">
			<p>Type in value or use slider.</p>
		</div>
	</div>
</fieldset>
<fieldset id="amount-texts">
	<h1 class="aligncenter">How many texts do you send per month?</h1>
	<div class="center">
		<hr>
		<div class="slider-container control-group">
			<p>
				<label for="amountTexts">Texts per month:</label>
				<div class="input-append">
				    <input name="amountTexts" class="span2" id="amountTexts" type="text" style="font-weight:bold;" />
				    <span class="add-on">/mo</span>
			    </div>
			    <span class="help-inline">Please enter a valid number.</span>
			</p>
			<div id="amountTextsSlider" class="center span8"></div>
		</div>
		<div class="slider-description">
			<p>Type in value or use slider.</p>
		</div>
	</div>
</fieldset>
<fieldset id="amount-data">
	<h1 class="aligncenter">How much data do you use per month?</h1>
	<div class="center">
		<hr>
		<div class="slider-container control-group">
			<p>
				<label for="amountData">Data per month:</label>
				<div class="input-append">
				    <input name="amountData" class="span2" id="amountData" type="text" style="font-weight:bold;" />
				    <span class="add-on">GB /mo</span>
			    </div>
			    <span class="help-inline">Please enter a valid number.</span>
			</p>
			<div id="amountDataSlider" class="center span8"></div>
		</div>
		<div class="slider-description">
			<p>Type in value or use slider.</p>
		</div>
	</div>
</fieldset>