<fieldset id="zipcode">
	<h1 class="aligncenter">What is your zipcode?</h1>
	<div>
		<hr>
    	<div id="home-zipcode" class="center span8 control-group">
	    	<label>Home</label><input name="homeZipcode" class="span2 inline" id="homeZipcode" type="text" style="font-weight:bold;" placeholder="Zipcode. eg. 12345"/><span class="help-inline">Please enter a valid zipcode</span>
	    </div>
	    <div id="work-zipcode" class="center span8 control-group">
	    	<label>Work (same as home?)<input type="checkbox" id="sameZipcode" class="inline"></label><input name="workZipcode" class="span2 inline" id="workZipcode" type="text" style="font-weight:bold;" /><span class="help-inline">Please enter a valid zipcode</span>
		</div>
	</div>
</fieldset>